$primary-color: #e51c1e;
$primary-color-light: #e83335;
$primary-color-dark: #ce191b;

$secondary-color: #110503;
$secondary-color-light: #220b08;
$dark-mode: #070305;

$grey: #c4cde4ff;
$grey-light: #cad2e7;
$grey-text: #d0d7e9;

$main-font: "arista_pro_alternateregular", "Roboto", sans-serif;
$main-font-bold: "arista_pro_alternatebold", "Roboto", sans-serif;
$secondary-font: "codec_cold_trialregular", "Roboto", sans-serif;
