@font-face {
  font-family: "arista_pro_alternatedemibold";
  src: url("cwf/arista-pro-alternate-semibold-trial-webfont.woff2")
      format("woff2"),
    url("cwf/arista-pro-alternate-semibold-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arista_pro_alternatebold";
  src: url("cwf/arista-pro-alternate-bold-trial-webfont.woff2") format("woff2"),
    url("cwf/arista-pro-alternate-bold-trial-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "arista_pro_alternateregular";
  src: url("cwf/arista-pro-alternate-regular-trial-webfont.woff2")
      format("woff2"),
    url("cwf/arista-pro-alternate-regular-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "codec_cold_trialregular";
  src: url("cwf/codec-cold-regular-trial-webfont.woff2") format("woff2"),
    url("cwf/codec-cold-regular-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// cwf means CUSTOM-WEB-FONTS
